params {
    help = false
}

profiles {
    local {
        includeConfig 'conf_MW/base.config'
        includeConfig 'conf_MW/local.config'
        includeConfig 'conf_MW/genome.config'
    }
    slurm {
        includeConfig 'conf_ALN/base.config'
        includeConfig 'conf_ALN/slurm.config'
        includeConfig 'conf_ALN/genome.config'
    }
}
