params {
    outDir = "/home/a1222106/fastdir/a1222106/Data_Processing/03_Nextflow_Pipeline/ANE_Pool_04_R_181029_RAYTOB_INDEXLIBX10_M002/aDNA_PipeLine_Results"
    sampleSheet = "/home/a1222106/fastdir/a1222106/Data_Processing/03_Nextflow_Pipeline/ANE_Pool_04_R_181029_RAYTOB_INDEXLIBX10_M002/samplesInfoTSV.tsv"
    genome = "human_g1k_v37_decoy" // Genome version to use
    deDup = "/home/a1222106/fastdir/a1222106/programs/DeDup-0.12.6.jar"
    gatk3 = "/apps/software/GATK/3.7-Java-1.8.0_121/GenomeAnalysisTK.jar"
    java = "java"
}

// Improved shell functionality:
// -e: Exit immediately when command fails
// -u: Exit if variable is unset
// -o pipefail: prevents piping from causing a non-zero exit status
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Report scope defines parameters for execution report output
report {  // Turning on execution report by default
  enabled = true
  file = "${params.outDir}/reports/report_aDNA.html"
}

// Timeline scope generates a timeline execution report
timeline { // Turning on timeline tracking by default
  enabled = true
  file = "${params.outDir}/reports/timeline_aDNA.html"
}

// Generate a dag of process dependencies
dag { // Turning on dag by default
  enabled = true
  file = "${params.outDir}/reports/DAG_aDNA.svg"
}

// Trace scope controls the output of the trace file
trace { // Turning on trace tracking by default
  enabled = true
  fields = 'process,task_id,hash,name,attempt,status,exit,realtime,cpus,memory,%cpu,vmem,rss,submit,start,complete,duration,realtime,rchar,wchar'
  file = "${params.outDir}/reports/trace_aDNA.txt"
}
