/*
Local configuration file. Resource specifications for running locally 
*/

// Parameters 
params {

    genome_base = "/home/a1222106/fastdir/a1222106/Refs"

    // Example of conditional - if you have multiple genomes to choose from 
    // genome_base = params.genome = "human_g1k_v37_decoy" ? "/fast/users/a1222106" : params.genome = "other" ? "/path/to/other" : "/fast/users/a1222106"

}

// Trance file column order
trace.fields = 'process,task_id,hash,name,native_id,attempt,status,exit,realtime,cpus,memory,%cpu,vmem,rss,submit,start,complete,duration,realtime,rchar,wchar'

// Process resources
process {

    // General process (task) parameters
    cpus = 1
    // memory = { 4.GB * task.attempt }
    // time = { 1.h * task.attempt }
    // clusterOptions = "-A $params.userID"

    // Error strategy for failing tasks
    errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
    maxRetries = 6  // Number of times a task can fail
    maxErrors = '-1' // Turn off maxErrors

     withName:runFastp {
         cpus = 4
         memory = { 4.GB * task.attempt }
         time = { 1.h * task.attempt }
     }

    // withName:runBwaMem {
        // cpus = 4
        // memory = { 4.GB * task.attempt }
        // time = { .h * task.attempt }
    // }

    // withName:runSamtoolsIdxStats {
        // cpus = 4
        // memory = { 4.GB * task.attempt }
        // time = { .h * task.attempt }
    // }

    // withName:runIndelRealignment {
        // cpus = 4
        // memory = { 4.GB * task.attempt }
        // time = { .h * task.attempt }
    // }

    // withName:runMapDamage {
        // cpus = 4
        // memory = { 4.GB * task.attempt }
        // time = { .h * task.attempt }
    // }

    // withName:runTrimBam {
        // cpus = 4
        // memory = { 4.GB * task.attempt }
        // time = { .h * task.attempt }
    // }

    // withName:runQualimap {
        // cpus = 4
        // memory = { 4.GB * task.attempt }
        // time = { .h * task.attempt }
    // }
}
