/*
Genome configuration file. Contains paths to all required genome accessory files.
*/

params {
  genomes {
    'human_g1k_v37_decoy' {
        genomeFile       = "${params.genome_base}/human_g1k_v37_decoy.fasta"
        genomeIndex      = "${params.genome_base}/human_g1k_v37_decoy.fasta.fai"
        genomeDict       = "${params.genome_base}/human_g1k_v37_decoy.dict"
    }
  }
}
